DATABASE_URL=postgresql://neondb_owner:ActualPasswordHere@ep-twilight-frog-aoufo9pq.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=mysupersecretkey123changethislater
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REDIS_URL=redis://localhost:6379/0
GOOGLE_MAPS_API_KEY=
APP_NAME=Smart Emergency Response System
DEBUG=True
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
